* {
    padding: 0;
    margin: 0;
}

.outer {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

h1 {
    text-align: center;
    display: block;
    margin-bottom: 15px;
}

.control {
    height: 45px;
    width: 1200px;
    margin-left: 200px;
}

.control>div {
    float: left;
}

.start,
.stop,
.restart,
.speed,
.slow,
.speed1 {
    border-radius: 4px;
    padding: 5px;
    margin-right: 35px;
    background-color: gray;
    color: bisque;
    cursor: pointer;
}

span.first {
    color: rebeccapurple;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
}

span.score {
    color: green;
    font-size: 25px;
}

#map {
    width: 1200px;
    height: 600px;
    position: relative;
}

#outer-map {
    position: absolute;
    left: 0px;
    top: 102px;
    width: 1200px;
    height: 600px;
}

#outer-map>div {
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    border: 0.5px solid whitesmoke;
    float: left;
}

.gray {
    background-color: gray;
}

.back {
    position: absolute;
    z-index: -1;
    width: 1200px;
    height: 600px;
}

img {
    height: 600px;
    width: 600px;
}

span.sp {
    color: greenyellow;
}