.list {
    margin-top: 10px;
    color: black;
    background-color: #00FFFF;
    border-left: 10px;
    border-left-style: solid;
    border-color: black;
    height: 40px;
    border-style: dotted;
    border-left-color: #0066FF;
    border-left-style: solid;
}

.vector {
    margin: 0 auto;
}

.imagContent {
    width: 900px;
    height: 300px;
}

.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.buttonVector {
    height: 100px;
}

.box01 {
    height: 20px;
    width: 100%;
}

#signIn {
    border-style: dotted;
    border-color: black;
    cursor: pointer;
    width: 360px;
    height: 190px;
}

.footer {
    text-align: center;
    background-color: darkgray;
    border-style: inset;
    border-width: 5px;
    clear: both;
}