body {
    /*background-image: url('image/image15.jpg');*/
    /*background-repeat: no-repeat;*/
}

#form {
    position: absolute;
    left: 300px;
    top: 20px;
    height: 1500px;
    width: 910px;
}

#imageheader01 {
    width: 300px;
    height: 200px;
}

#imagebox01 {
    width: 300px;
    height: 200px;
    box-shadow: 10px 10px 5px #888888;
    margin-right: 10px;
    float: left;
}

#imageheader02 {
    height: 200px;
    width: 600px;
}

#imagebox02 {
    height: 200px;
    width: 600px;
    float: left;
}

#ul01 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    border: 1px solid #555;
    overflow: hidden;
    border-radius: 25px;
}

li a {
    display: block;
    color: white;
    padding: 8px 14px;
    text-decoration: none;
    text-align: center;
}

li a:hover {
    background-color: white;
    color: black;
}

li {
    float: left;
}

#leadinglist {
    margin-top: 20px;
    height: 50px;
    clear: both;
}

#imagebox {
    margin-bottom: 20px;
}

div li {
    height: 40px;
}

.link {
    text-decoration: none;
}

.box {
    width: 380px;
    height: 800px;
    float: left;
    margin: 20px;
}

#p {
    color: red;
}

.boxbox {
    border-radius: 15%;
    border-style: outset;
    border-width: 10px;
}

.hh2 {
    background-color: chocolate;
    border-radius: 15%;
    border-width: 5px;
    border-color: cyan;
    border-style: outset;
}

.box05 {
    height: 50px;
}

.button11 {
    background-color: black;
    /* Green */
    border: none;
    color: white;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.imagebox {
    text-align: center;
}

.name {
    text-align: center;
}